@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: #ffffff;
}
html::-webkit-scrollbar-thumb{
    background:#050706;
}

.top-bar {
    background-color: #319dff;
}

.top-bar .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.top-bar .info .info-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-bar .info .info-list .icons {
    font-size: 20px;
}
/* close topbar */

/* navigation bar section */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hotpink;
}
.navbar-container .logo-wrapper {
    width: 60px;
    margin-right: auto;
    margin-left: 10rem;
}
.navbar-container .logo-wrapper a img {
    width: 100%;
    object-fit: contain;
}
.navbar-container .navbar-list {
    display: flex;
    align-items: center;
    margin-right: 8rem;
    padding: 1rem;
}
.navbar-container .navbar-list li {
    padding: 15px;
}
.navbar-container .navbar-list li a {
    font-size: 1.5rem;
    color: #050706;
    text-transform: uppercase;
}

#close-btn {
    display: none;
}
#menu-btn {
    display: none;
}


.slide-container {
    padding: 1rem;
    height: 80vh;
    background-image: url(../assets/cctv.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
}
/* .slide-container .slide-wrapper {
    background-image: url(../assets/cctv.jpg);
    background-repeat: no-repeat;
} */

@media (max-width: 768px){
    .navbar-container .navbar-list {
        display: none;
    }
    #menu-btn {
        display: flex;
        margin-right: 4rem;
    }
    #close-btn {
        position: absolute;
        display: flex;
        justify-content: end;
        right: 0;
        margin-top: 1.9rem;
        margin-right: 1.9rem;
    }
    .navbar-container .mobile {
        position: fixed;
        right: 0;
        top: 0;
        width: 50vw;
        height: 100vh;
        padding: 20px;
        background-color: aquamarine;
    }
    .navbar-container .mobile li {
        padding: 20px;
    }

    .navbar-container .mobile li a {
        color: #050706;
        font-size: 2rem;
        text-transform: uppercase;
    }
}

@media (max-width:426px){

}

@media (max-width: 376px){

}